.pair-favorite {
    width: 2rem;
    height: 2rem;
    font-size: 0.9rem;
    padding: 0;
    color: var(--clr-neutral-50);

    &.checked {
        border-color: var(--clr-lime-500);
        background-color: var(--clr-neutral-600) !important;
        color: var(--clr-lime-500) !important;

        &:hover {
            background-color: var(--clr-neutral-500) !important;
            opacity: 1;
        }
    }
}
