
.marquee {
    overflow: hidden;
    position: relative;

    .marquee-sandbox {
        width: 99999px;
        position: fixed;
        visibility: hidden;
        pointer-events: none;
        z-index: -9999;
    }
    
    .marquee-content {
        display: inline-block;
        white-space: nowrap;
        word-break: keep-all;
    }
    
    .marquee-item {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        padding-inline: 2ch;
    }
}