.select {
    display: inline-flex;
    flex-direction: column;
    gap: 0.25rem;
}

.select-label {
    font-size: 0.85em;
    color: var(--clr-neutral-100);
}

.select-trigger {
    justify-content: space-between;
    gap: 0.5em;
    padding: 0.75em 1em;
    color: var(--clr-neutral-50);
    font-size: 1rem;
    transition: var(--transition);
}

.select-trigger-icon {
    width: 12px !important;
    height: 12px !important;
}

.select-value {
    flex: 1;
    text-align: left;
}

.select-popover {
    margin-top: 0.4em;
    border: 1px solid var(--clr-neutral-400);
    border-radius: 8px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    animation: fadeInBottom 0.18s ease-out;
    background: var(--clr-neutral-700);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    &[data-placement="top"] {
        animation-name: fadeInTop;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        translate: 0 -1.5em;
        scale: 0.98;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        translate: 0 1.5em;
        scale: 0.98;
    }
    to {
        opacity: 1;
    }
}


.search-field input {
    width: 100%;
}

.select-listbox {
    display: grid;
    gap: 0.25em;
    overflow-y: auto;
    scrollbar-width: none;
}

.select-item {
    padding: 0.75em 1em;
    color: var(--clr-neutral-100);
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    /* transition: var(--transition); */
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}

.select-item-check {
    display: none;
    width: 1em;
    height: 1em;
    color: var(--clr-lime-500);
}

.select-item[data-selected="true"] .select-item-check {
    display: block;
}

.select-value .select-item-check {
    display: none;
}

.select-item:is(:hover, [data-focus-visible-added], [data-focused]) {
    border-color: var(--clr-neutral-200);
}

.select-error {
    color: var(--clr-red-500);
    font-size: 0.85em;
}