.statebutton {
    display: grid;
    align-items: center;
    justify-content: center;

    &.checked {
        background-color: var(--clr-lime-500) !important;
        color: var(--clr-neutral-900) !important;
    }

    &.checked:hover {
        opacity: 0.8;
    }

    &[data-disabled="true"], &:disabled {
        opacity: 1;
    }
}

.statebutton > div {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    transition: var(--transition);
    transition-duration: 0.1s;

    &[data-active="false"] {
        opacity: 0;
        pointer-events: none;
    }

    svg {
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 0;
    }
}