.header-wrapper {
    background-color: var(--clr-neutral-900);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2ch;
    font-size: clamp(0.625rem, 0.3865rem + 1.0178vw, 0.875rem);
    padding: clamp(16px, calc(14.545px + 0.455vw), 20px) clamp(16px, calc(13.091px + 0.909vw), 24px);
    text-transform: uppercase;
    color: var(--clr-neutral-200);

    .logo {
        width: min(139px, 30vw)
    }

    .header-info {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }
    
    .header-info-status {
        display: contents;
    
        &[data-error="true"] {
            color: var(--clr-red-500);
        }
    }
}


.ticker {
    display: flex;
    align-items: center;
    background-color: var(--clr-neutral-700);
    user-select: none;

    .ticker-label {
        font-size: 0.75rem;
        color: var(--clr-neutral-900);
        background-color: var(--clr-lime-500);
        padding: 0.75em 1em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.67em;

        &::before {
            content: "";
            display: inline-block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: currentColor;
        }
    }

    .ticker-marquee {
        flex: 1;
        text-align: center;
    }

    .marquee-item {
        font-size: 0.75rem;
        padding-inline: 1em 1.25em;
        display: flex;
        gap: 0.83em;
        padding: 1em 1.6em;
        border-right: 1px solid var(--clr-neutral-500);
    }

    .ticker-item-currencies {
        color: var(--clr-neutral-200);
    }

    .ticker-item-rates {
        color: var(--clr-neutral-50);
    }

    .ticker-item-change[data-change="up"] {
        color: var(--clr-green-500);
    }

    .ticker-item-change[data-change="down"] {
        color: var(--clr-red-500);
    }
}
